#
# CSE186 Assignment 6
#

openapi: '3.0.3'

info:
  description: CSE186 Assignment 6
  version: 0.1.0
  title: CSE186 Assignment 6

servers:
  - url: http://localhost:3010

paths:
  /v0/mail:
    get:
      parameters:
        - in: query
          name: mailbox
          description: mailbox name
          schema: 
            type: string 
      description: Returns e-mails
      responses:
        200:
          description: Emails Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmailResponse'
        404:
          description: Not Found
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
    post:
      description: Creates a new mail
      requestBody:
        description: Application to add
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mail'
      responses:
        201:
          description: Application response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mail'
        400:
          description: Invalid id
        409:
          description: Conflict. Requested id in use.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v0/mail/{id}:
    get:
      description: Returns a single mail
      parameters:
      - name: id
        in: path
        description: id of mail
        required: true
        schema:
          type: string
      responses:
        200:
          description: Mail found
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Mail'
        400:
          description: Invalid id
        404:
          description: Mail not found
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put: 
      description: moves a single mail
      parameters:
      - name: mailbox
        in: query
        description: mailbox name
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: id of mail
        required: true
        schema:
          type: string
      responses:
        204:
          description: move success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mail'
        400:
          description: Invalid id
        404:
          description: Invalid id
        409:
          description: Already in sent
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    
    EmailResponse:
      properties:
        name:
          type: string
        mail:
          type: array
          items:
            $ref: '#/components/schemas/Mail'
      required:
        - name
        - mail
  
    Mail:
      type: object
      properties:
        id:
          type: string
        toName:
          type: string
        toEmail:
          type: string
        fromName:
          type: string
        fromEmail:
          type: string
        subject:
          type: string
        received:
          type: string
        content:
          type: string