/* 
  CSE186 Assignment 2

  CSS for Advanced Requirement 
*/

div.l1, div.l2, div.l3{
  font-family: 'Lucida Console';
  font-size: 60pt;
  height: 180px;
  width: 100px;
  text-align: center;
  float: left;
  background-color: navy;
  color: white;
}

div.l1:hover, div.l2:hover, div.l3:hover{
  background-color: white;
  color: navy;
}

div.num{
  position: fixed;
  bottom: 0px;
  right: 0px;
  border: 5px solid yellow;
}

div.l4, div.l5, div.l6{
  font-family: 'Lucida Console';
  font-size: 40pt;
  height: 60px;
  width: 60px;
  text-align: center;
  background-color: black;
  color: yellow;
  float: left;
}

div.l4:hover, div.l5:hover, div.l6:hover{
  background-color: yellow;
  color: black;
}